.card {
  position: relative;
  padding: 20px;
  width: calc(100%-40px);
  margin-top: 10px;
  min-height: calc(95px-40px);
  background: #22252a;
  box-shadow: 0px 4px 20px rgba(34, 37, 42, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  div {
    margin-left: 20px;
    h1 {
      margin: 0;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
      color: #ffffff;
    }
    p {
      margin: 0;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background-color: transparent;
  }
}
