.sale {
  margin-top: 30px;
  width: max-content;
  background: rgba(46, 124, 255, 0.1);
  border-radius: 36px;
  padding: 11px 49px;
  span {
    margin: 0;
    color: #2e7cff;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #2e7cff;
  }
}
