.default {
  background: rgba(231, 231, 231, 0.5);
  border-radius: 36px;
  border: none;
  color: rgba(34, 37, 42, 0.3);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 11px 32px;
}

.active {
  padding: 11px 32px;
  background: #f0b826;
  border: none;
  border-radius: 36px;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
