.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 5px;
  padding: 20px;
  background: #f0b826;
  border-radius: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}
