.modal {
    position: relative;
    width: 556px;
    height: 423px;
    background: #22252A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #F0B826;
}